.weather
    z-index: 3000
    position: relative
    &__h1 
        margin-top: 80px
        font-family: 'Nunito'
        font-size: 70px
        letter-spacing: 1
        text-align: center
        color: #F3997B
        font-weight: bold
    &__title
        width: 894px
        height: 129px
        font-size: 70px
        line-height: 60px
        text-align: center
        font-family: 'Nunito'
        letter-spacing: 1 
        color: #17475B
        margin: 0 auto 50px auto

.weather-form
    &__label
        display: block
        text-align: center
        font-family: 'Nunito'
        font-size: 16px
        letter-spacing: 0
        color: #114358
    &__input
        width: 325px
        height: 45px
        border-radius: 2px
        border: 2px solid #17475B
        display: block
        margin: 14px auto 26px auto
        text-align: center
        font-family: 'Roboto'
        font-size: 16px
    &__submit
        margin: 0 auto
        display: block
        width: 160px
        height: 40px
        background-color: #F3997B
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1)
        border-radius: 3px
        text-align: center
        font-family: 'Roboto'
        letter-spacing: 0
        font-weight: bold
        color: rgba(255, 255, 255, 1)